.flex {
    display: flex;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.signuphead {
    margin: auto auto;
}

.backtologin {
    font-size: xx-large;
    color: red;
    cursor: pointer;
}

.signuptext {
    letter-spacing: 2px;
    color: red;
}

.margin_auto {
    margin: auto auto;
}

.signupform>input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-width: 0px 0px 2px 0px;
}

.signupform>input :focus {
    outline: none;
    border-image: linear-gradient(to right, #DEAFDB 0%, #EFB9AD 100%) 1;
    border-width: 0px 0px 2px 0px;
}


.bgred {
    background-color: red;
}

.btn {
    height: 35px;
    width: 95px;
    background-color: lightblue;
    cursor: pointer;
    text-align: center;
    margin: 5px 45px;
    border: 2px solid transparent;
    border-radius: 2.5px;
}

.btn:hover {
    background-color: blue;
}

.border {
    border: 2px solid lightblue;
    margin: 5px 400px;
}