.flex {
    display: flex;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.signuphead {
    margin: auto auto;
}

.backtologin {
    font-size: xx-large;
    color: red;
}

.signuptext {
    letter-spacing: 2px;
    color: red;
}

.signupform {
    margin: auto auto;
}

.signupform>input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-width: 0px 0px 2px 0px;
}

.signupform>input :focus {
    outline: none;
    border-image: linear-gradient(to right, #DEAFDB 0%, #EFB9AD 100%) 1;
    border-width: 0px 0px 2px 0px;
}


.bgred {
    background-color: red;
}